<footer>
	<!-- CONTAINER -->
	<div class="container">
		<div>
			<span class="copyright">© 2021 LTL Group</span>
		</div>
		<div>
			<ul class="social">
				<li>
					<a href="javascript:void(0)">
						<svg class="social__facebook">
							<use href="img/sprite-svg-fill-delete.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<svg class="social__instagram">
							<use href="img/sprite-svg-fill-delete.svg#instagram"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<button id="back-to-top">
				<svg>
					<use href="img/sprite-svg-fill-delete.svg#arrow-top"></use>
				</svg>
			</button>
		</div>
	</div><!-- END CONTAINER -->
</footer>
