<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl header__bl-1">
			<a href="index.html" class="logo-company header__logo-company">
				<img src="img/logo-company.png" alt="" width="120" height="44">
			</a>
		</div>
		<div class="header__bl header__bl-2">
			<nav class="header__nav">
				<ul>
					<li>
						<a href="javascript:void(0)">Рішення для виробництва</a>
					</li>
					<li>
						<a href="javascript:void(0)">Лакофарбові материали</a>
					</li>
					<li>
						<a href="javascript:void(0)">Школа малярів</a>
					</li>
					<li>
						<a href="javascript:void(0)">Контакти</a>
					</li>
				</ul>
			</nav>
			<a href="tel:+380445038495" class="header__phone">(044) 503-84-95</a>
		</div>
		<div class="header__bl header__bl-3">
			<div class="toggle-wrapper" id="toggle-wrapper">
				<button class="toggle-btn" id="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
