<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини</span>
	<img itemprop="image" src="img/logo-company.png"
		alt="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">пр-т Ак. Палладіна, 32Б</span>
		<span itemprop="addressLocality">Київ</span>
	</div>
	<span itemprop="telephone">+380976442002</span>
	<span itemprop="email">zakaz@ltl.com.ua</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="вул. Романа Шухевича, 68А">
			<meta itemprop="addressLocality" content="Дніпро">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380954747307">
		<meta itemprop="telephone" content="+380973805311">
		<meta itemprop="telephone" content="+380974128334">
		<meta itemprop="priceRange" content="UAH">
	</div>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Сабурівська набережна, 5">
			<meta itemprop="addressLocality" content="Харків">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 09:00-18:00">
		<meta itemprop="telephone" content="+380672331639">
		<meta itemprop="telephone" content="+380505451753">
		<meta itemprop="telephone" content="+380577325633">
		<meta itemprop="priceRange" content="UAH">
	</div>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="М. Бірюзова, 47Б">
			<meta itemprop="addressLocality" content="Полтава">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380675689626">
		<meta itemprop="telephone" content="+3800666738030">
		<meta itemprop="priceRange" content="UAH">
	</div>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Луценко, 6">
			<meta itemprop="addressLocality" content="Черкаси">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380674057521">
		<meta itemprop="telephone" content="+380472634918">
		<meta itemprop="priceRange" content="UAH">
	</div>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Українська, 143">
			<meta itemprop="addressLocality" content="Запоріжжя">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-17:00">
		<meta itemprop="telephone" content="+380687147474">
		<meta itemprop="telephone" content="+380668698101">
		<meta itemprop="priceRange" content="UAH">
	</div>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name"
			content="LTL GROUP – найбільший центр технологічних рішень і навчання в галузі обробки деревини">
		<meta itemprop="image" content="img/logo-company.png">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Сиваський провулок, 5">
			<meta itemprop="addressLocality" content="Одеса">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 08:00-18:00">
		<meta itemprop="telephone" content="+380675688725">
		<meta itemprop="priceRange" content="UAH">
	</div>
</div>
