.hel {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.ovh {
	overflow: hidden;
}

.ovyh {
	overflow-y: hidden;
}

.tac {
	text-align: center;
}

.ttu {
	text-transform: uppercase;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba($cb, 0.6);
	pointer-events: none;
	@include trs-all;
}

.overlay-visible {
	z-index: 997;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.scroll-table-content {
	overflow-x: auto;
	margin-bottom: 40px;

	table {
		margin-bottom: 0;
	}
}

.icon {
	position: relative;
	display: inline-block;

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		@include trs-all;
	}
}

.back-to-top {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	color: $c2;
	background-color: $c1;
	border-radius: 50%;
	cursor: pointer;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		fill: currentColor;
		@include trs-all;
	}
}

.social {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		&:not(:last-child) {
			margin-right: 2px;
		}
	}

	a {
		position: relative;
		width: 30px;
		height: 30px;
		color: $c1;
		border-radius: 50%;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			fill: currentColor;
			@include trs-all;
		}

		&:hover {
			text-decoration: none;

			.social__facebook {
				fill: $c6;
			}

			.social__youtube {
				fill: $c15;
			}

			.social__instagram {
				fill: $c7;
			}
		}
	}
}

.style-1 {
	margin-bottom: 115px;
}

.style-2 {
	padding-top: 112px;
	padding-bottom: 112px;
}

.style-3 {
	height: 300px;
	overflow: hidden;
}

.style-4 {
	padding-top: 112px;
}

@media (max-width: 1024px) {
	.style-1 {
		margin-bottom: 75px;
	}

	.style-2 {
		padding-top: 72px;
		padding-bottom: 72px;
	}

	.style-4 {
		padding-top: 72px;
	}
}

.slider-wrapper {
	position: relative;
	padding-left: 60px;
	padding-right: 60px;

	.swiper-pagination-bullet {
		width: 6px;
		height: 6px;
		;
		opacity: 1;
		background-color: $c12;
		cursor: pointer;
		@include trs-all;

		&:hover {
			background-color: $c13;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: $c13;
	}

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.slider-btn,
.lightbox-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: $c11;
	color: $cb;
	cursor: pointer;
	@include trs-all;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 24px;
		height: 24px;
		fill: currentColor;
	}

	&:hover {
		color: $c1;
		background-color: $cb;
	}
}

.slider-btn--prev {
	left: 0;
}

.slider-btn--next {
	right: 0;
}

.lightbox-btn--prev {
	left: 15px;
}

.lightbox-btn--next {
	right: 15px;
}

.title-1 {
	margin-bottom: 12px;
}

.accordion__title,
.accordion__content {
	background-color: $c1;
}

.accordion__title {
	position: relative;
	display: block;
	padding: 22px 65px 20px 30px;
	font-size: fsz(24, 16);
	font-weight: 600;
	line-height: 1.35;
	cursor: pointer;

	&:not(:first-child) {
		margin-top: 2px;
	}

	&:hover {
		&:after {
			background-color: $c1;
		}

		svg {
			fill: $cb;
		}
	}

	&:after,
	svg {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		@include trs-all;
	}

	&:after {
		content: '';
		border-radius: 50%;
		background-color: $c15;
	}

	svg {
		z-index: 1;
		width: 40px;
		height: 40px;
		fill: $c1;
		@include trs-all;
	}

	&.open svg {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

.accordion__content {
	display: none;
	padding: 0 30px 30px 30px;
	overflow: hidden;

	&.open {
		display: block;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		position: relative;
		padding-left: 10px;
		line-height: 1.55;

		strong {
			font-weight: 700;
		}

		&:before {
			content: '-';
			position: absolute;
			left: 0;
			top: 0;
			font-weight: 700;
		}
	}
}

.btn {
	display: inline-block;
	padding: 11px 10px 9px 10px;
	font-weight: 700;
	line-height: 1;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	@include trs-all;

	&:hover {
		text-decoration: none;
	}
}

.btn-default {
	color: $c1;
	border-color: $cb;
	background-color: $cb;

	&:hover {
		border-color: $c15;
		background-color: $c15;
	}
}

.btn-danger {
	color: $c1;
	border-color: $c22;
	background-color: $c22;

	&:hover {
		border-color: $c23;
		background-color: $c23;
	}
}

.btn-error {
	color: $c1;
	border-color: $c14;
	background-color: $c14;

	&:hover {
		background-color: $c31;
	}
}

.btn-info {
	color: $c1;
	border-color: $c15;
	background-color: $c15;

	&:hover {
		box-shadow: 0px 0px 10px 0px rgba($cb, 0.1)
	}
}

.btn-info-2 {
	color: $cb;
	border-color: $c35;
	background-color: $c35;

	&:hover {
		border-color: $c36;
		background-color: $c36;
	}
}

.btn-style-1 {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: calc(min(335px, 100%));
	height: 60px;
	padding: 0 10px;
	font-size: fsz(22, 16);
	line-height: 60px;
	border-radius: 10px;
}

.btn-style-2 {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.btn-style-3 {
	padding-top: 21px;
	padding-bottom: 21px;
	border-radius: 60px;
}

.btn-style-4 {
	min-width: 240px;
}

.btn-style-5 {
	padding-top: 13px;
	padding-bottom: 11px;
}

.btn-style-6 {
	padding-top: 21px;
	padding-bottom: 21px;
	border-radius: 100px;
}

.gm-style-iw-d {
	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a[href^="tel"] {
		display: table;
		max-width: 100%;
	}
}
