.hel {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.ovh {
	overflow: hidden;
}

.ovyh {
	overflow-y: hidden;
}

.tac {
	text-align: center;
}

.ttu {
	text-transform: uppercase;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba($cb, 0.6);
	pointer-events: none;
	@include trs-all;
}

.overlay-visible {
	z-index: 997;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.scroll-table-content {
	overflow-x: auto;
	margin-bottom: 40px;

	table {
		margin-bottom: 0;
	}
}

.icon {
	position: relative;
	display: inline-block;

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		@include trs-all;
	}
}

.back-to-top {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	color: $c2;
	background-color: $c1;
	border-radius: 50%;
	cursor: pointer;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		fill: currentColor;
		@include trs-all;
	}
}

.social {

	li,
	a {
		display: inline-block;
	}

	a {
		position: relative;
		width: 30px;
		height: 30px;
		color: $c1;
		border-radius: 50%;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			fill: currentColor;
			@include trs-all;
		}

		&:hover {
			text-decoration: none;

			.social__facebook {
				fill: $c6;
			}

			.social__instagram {
				fill: $c7;
			}
		}
	}
}
