/*
=================================
	TOP SECTION
=================================
*/
.top-section {
	position: relative;
	overflow: hidden;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: calc(100vh - 80px);
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(top, rgba($cb, 0.5) 0%, rgba($cb, 0.6) 100%);
		background: -webkit-linear-gradient(top, rgba($cb, 0.5) 0%, rgba($cb, 0.6) 100%);
		background: linear-gradient(to bottom, rgba($cb, 0.5) 0%, rgba($cb, 0.6) 100%);
	}
}

.top-section__content {
	position: relative;
	z-index: 1;
	color: $c1;

	h1 {
		margin-bottom: 38px;
		letter-spacing: 1px;
	}

	p {
		max-width: 640px;
		font-size: fsz(22, 16);
		color: $c10;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*
=================================
	CLIENTS
=================================
*/
.clients__list {
	li {
		position: relative;
		padding-top: 88%;

		&:not(:last-child) {
			border-right: 1px solid $c8;
		}
	}

	a {
		position: absolute;
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

/*
=================================
	ABOUT
=================================
*/
.about {
	background-color: $c9;

	p {
		font-size: fsz(20, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*
=================================
	PRODUCTION SERVICES
=================================
*/
.production-services {
	h2 {
		margin-bottom: 8px;

		&~p {
			margin-bottom: 22px;
		}
	}
}

.production-services__list {
	padding-top: 30px;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		color: $cb;
		text-align: center;

		>div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 160px;
			margin-bottom: 25px;

			div {
				background-image: url(../img/sprites.png);
				background-repeat: no-repeat;
			}
		}

		&.production-services__list--item-1 {
			>div {
				div {
					width: 157px;
					height: 150px;
					background-position: -399px -30px;
				}
			}
		}

		&.production-services__list--item-2 {
			>div {
				div {
					width: 150px;
					height: 150px;
					background-position: -604px -26px;
				}
			}
		}

		&.production-services__list--item-3 {
			>div {
				div {
					width: 141px;
					height: 150px;
					background-position: -210px -32px;
				}
			}
		}

		&.production-services__list--item-4 {
			>div {
				div {
					width: 150px;
					height: 79px;
					background-position: -802px -68px;
				}
			}
		}

		&.production-services__list--item-5 {
			>div {
				div {
					width: 150px;
					height: 138px;
					background-position: -1000px -32px;
				}
			}
		}

		&.production-services__list--item-6 {
			>div {
				div {
					width: 150px;
					height: 147px;
					background-position: -1183px -32px;
				}
			}
		}

		&.production-services__list--item-7 {
			>div {
				div {
					width: 118px;
					height: 150px;
					background-position: -1381px -26px;
				}
			}
		}

		&.production-services__list--item-8 {
			>div {
				div {
					width: 137px;
					height: 150px;
					background-position: -25px -24px;
				}
			}
		}

		strong {
			display: inline-block;
			font-size: fsz(18, 16);
			font-weight: 600;
			line-height: 1.35;
		}

		&:hover {
			text-decoration: none;
			color: $c3;
		}
	}
}

/*
=================================
	REVIEWS
=================================
*/
.reviews__slider-item {
	padding-bottom: 55px;
	text-align: center;

	p {
		margin-bottom: 35px;
		font: fsz(14, 16)/1.55 $f1;

		a {
			color: $c14;
		}
	}

	strong {
		display: block;
		margin-top: 12px;
		margin-bottom: 8px;
		font-weight: 600;
		line-height: 1.2;

		&+p {
			margin-bottom: 0;
			font-family: $fb;
		}
	}
}

.reviews__slider-img {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/*
=================================
	PARTNERS SERVICES
=================================
*/
.partners-services {
	background-color: $c9;

	h2+p+.accordion {
		margin-top: 55px;
	}
}

@media (max-width: 1024px) {
	.partners-services {
		h2+p+.accordion {
			margin-top: 35px;
		}
	}
}

/*
=================================
	AWARDS
=================================
*/
.awards__list {
	.list-img {
		padding-top: 136.37%;
		cursor: zoom-in;
	}
}

/*
=================================
	ORDER
=================================
*/
.order {
	background-color: $c9;

	p+.order-form {
		margin-top: 53px;
	}
}
