:root {
	font: $fsb $fb;
	color: $cb;
	box-sizing: border-box;
}

@media (max-width: 576px) {
	:root {
		font-size: fsz(14, 16);
	}
}

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	flex-direction: column;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

picture::selection,
img::selection,
table th::selection,
table td::selection,
a::selection,
strong::selection,
b::selection,
em::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
input:not([type='checkbox']):not([type='radio'])::selection {
	color: $c1;
	background-color: $cb;
}

@media (max-width: 1200px) {
	main {
		padding-top: 110px;
	}
}

.container,
.container-md,
.container-sm {
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 1200px;
}

.container-md {
	max-width: 760px;
}

.container-sm {
	max-width: 560px;
}

@media (max-width: 1230px) {
	.container {
		padding-left: mp(50, 1200);
		padding-right: mp(50, 1200);
	}
}

@media (max-width: 1024px) {
	.container {
		padding-left: mp(40, 1024);
		padding-right: mp(40, 1024);
	}
}

@media (max-width: 790px) {
	.container-md {
		padding-left: mp(40, 790);
		padding-right: mp(40, 790);
	}
}

@media (max-width: 590px) {
	.container-sm {
		padding-left: mp(40, 590);
		padding-right: mp(40, 590);
	}
}

@media (max-width: 576px) {

	.container,
	.container-md,
	.container-sm {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 360px) {

	.container,
	.container-md,
	.container-sm {
		padding-left: 15px;
		padding-right: 15px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
	line-height: 1.25;
}

h1,
h2 {
	margin-bottom: 53px;
}

h3,
h4,
h5 {
	margin-bottom: 20px;
}

h1 {
	font-size: fsz(52, 16);
}

h2 {
	font-size: fsz(28, 16);

	~p {
		a {
			color: $c16;
		}
	}
}

h3 {
	font-size: fsz(23, 16);
}

h4 {
	font-size: fsz(20, 16);
}

h5 {
	font-size: 1rem;
}

@media (max-width: 1024px) {

	h1,
	h2 {
		margin-bottom: 33px;
	}

	h3,
	h4 {
		margin-bottom: 15px;
	}

	h1 {
		font-size: fsz(42, 16);
	}

	h2 {
		font-size: fsz(25, 16);
	}

	h3 {
		font-size: fsz(21, 16);
	}

	h4 {
		font-size: fsz(18, 16);
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: fsz(35, 16);
	}

	h2 {
		font-size: fsz(22, 16);
	}

	h3 {
		font-size: fsz(18, 16);
	}

	h4 {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: fsz(30, 14);
	}

	h2 {
		font-size: fsz(22, 14);
	}

	h3 {
		font-size: fsz(18, 14);
	}
}

@media (max-width: 415px) {
	h1 {
		font-size: fsz(25, 14);
	}

	h2 {
		font-size: fsz(20, 14);
	}

	h3 {
		font-size: fsz(16, 14);
	}
}

p,
ul,
ol,
blockquote,
.video-wrapper,
.video-wrapper-style-1 {
	margin-bottom: 30px;
}

p {
	line-height: 1.55;
}

a {
	color: $c3;
	text-decoration: none;
	@include trs-all;

	&:hover {
		text-decoration: underline;
	}
}

table {
	width: 100%;
	margin-bottom: 40px;
}

picture,
img {
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
}

b {
	font-weight: 700;
}

.list-img,
.list-img-2 {
	position: relative;
}

.list-img {
	overflow: hidden;

	picture,
	img {
		position: absolute;
		top: 0;
		left: 0;
		@include imgSt;
	}
}

.list-img-2 {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		overflow: hidden;
	}

	picture,
	img {
		max-height: 100%;
		width: auto;
	}
}

.map-wrapper {
	position: relative;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100%;
		border: none;
	}
}

iframe:not(.instagram-media),
iframe:not(.facebook),
iframe:not([id^='telegram']),
video {
	margin-bottom: 0;
	border: none;
}

.video-wrapper,
.video-wrapper-style-1 {

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		margin-bottom: 0;
		border: none;
	}
}

.video-wrapper {
	position: relative;
	margin-bottom: 25px;
	padding-top: 56.25%;

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.video-wrapper-style-1 {

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		max-width: 100%;
	}
}

.breadcrumbs {
	margin-bottom: 20px;

	&+h1 {
		margin-top: -13px;
	}

	// li,
	// a {
	// 	position: relative;
	// 	display: inline-block;
	// 	color: $cb;
	// }

	// li {
	// 	margin-right: 5px;
	// 	padding-right: 16px;
	// 	margin-bottom: 10px;

	// 	&:after {
	// 		content: '—';
	// 		position: absolute;
	// 		right: 0;
	// 		top: 7px;
	// 		font-size: 8px;
	// 		color: currentColor;
	// 	}

	// 	&:last-child {
	// 		margin-right: 0;
	// 		padding-right: 0;

	// 		a {
	// 			pointer-events: none;
	// 			text-decoration: none;
	// 			font-weight: 300;
	// 			opacity: 0.5;
	// 		}

	// 		&:after {
	// 			display: none;
	// 		}
	// 	}

	// 	a,
	// 	a+span {

	// 		display: inline-block;
	// 		color: $cb;
	// 	}

	// 	a{
	// 		position: relative;

	// 		& + span{
	// 			pointer-events: none;
	// 				text-decoration: none;
	// 				font-weight: 300;
	// 				opacity: 0.5;
	// 		}
	// 	}
	// }

	a,
	a+span {
		font-size: fsz(10, 16);
		font-weight: 400;
		line-height: 1.25;
		color: $cb;
	}

	a {
		position: relative;
		display: inline-block;
		margin-right: 5px;
		padding-right: 16px;
		margin-bottom: 10px;

		&:after {
			content: '—';
			position: absolute;
			right: 0;
			top: 2px;
			font-size: 8px;
			color: currentColor;
		}

		&:hover {
			color: $c5;
			text-decoration: none;
		}
	}

	.breadcrumb_last {
		pointer-events: none;
		font-weight: 300;
		opacity: 0.5;
	}
}

@media (min-width: 1231px) {
	.breadcrumbs {
		&+h1 {
			&+.tabs {
				opacity: 0;
			}
		}
	}
}

@media (max-width: 576px) {
	.breadcrumbs {
		&+h1 {
			margin-top: -17px;
		}

		// li:after {
		// 	top: 5px;
		// }

		// a {
		// 	font-size: fsz(10, 14);
		// }

		a,
		a+span {
			font-size: fsz(10, 14);
		}

		a {
			&:after {
				top: 3px;
			}
		}
	}
}

.clearfix {

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}
