@include font-face('UniSans',
	'UniSans/UniSansRegular/UniSansRegular',
	400,
	normal,
	swap);
@include font-face('UniSans',
	'UniSans/UniSansMedium/UniSansMedium',
	500,
	normal,
	swap);
@include font-face('UniSans',
	'UniSans/UniSansSemiBold/UniSansSemiBold',
	600,
	normal,
	swap);
@include font-face('UniSans', 'UniSans/UniSansBold/UniSansBold', 700, normal, swap);
