.mobile-user-agent {

	.footer__top a,
	.footer__bottom a[href^="mailto"] {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

footer {
	color: $c1;
	background-color: $c2;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.copyright {
	display: inline-block;
	font-size: fsz(14, 16);
	font-weight: 600;
	line-height: 1;
}

@media (max-width: 576px) {
	footer {
		.container {
			flex-direction: column;
			gap: 25px;

			div {
				&:nth-child(2) {
					order: -1;
				}
			}
		}
	}

	.copyright {
		font-size: fsz(12, 14);
	}
}
