input,
button,
textarea,
select {
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: none;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.size-auto {
	width: auto;
	height: auto;
}

textarea {
	resize: vertical;
}

input:not([type='checkbox']):not([type='radio']),
textarea {
	@include placeholder {
		color: $c18;
		text-overflow: ellipsis;
		opacity: 1;
	}
}

.style-check {
	position: relative;
	display: inline-block;
	padding-left: 34px;
	line-height: 1;
	cursor: pointer;

	input[type='radio'],
	input[type='checkbox'] {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		overflow: hidden;
		clip: rect(0 0 0 0);

		&+span,
		&+span {
			position: absolute;
			top: -3px;
			left: 0;
			width: 20px;
			height: 20px;
			border: 2px solid $cb;
			background-color: $c1;

			&:before,
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				opacity: 0;
				@include trs-all;
			}
		}
	}

	input[type='radio']:checked+span,
	input[type='checkbox']:checked+span {
		-webkit-pointer-events: none;
		-moz-pointer-events: none;
		pointer-events: none;

		&:before {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	input[type='radio']+span {
		border-radius: 50%;

		&:before {
			content: '';
			width: 10px;
			height: 10px;
			background-color: $cb;
			border-radius: 50%;
		}
	}

	input[type='checkbox']+span:before {
		content: '';
		color: $cb;
	}

	em {
		display: inline-block;
		font-weight: 400;
		font-style: normal;
		letter-spacing: 0.07em;
		line-height: 110%;
		@include trs-all;
	}
}

.style-select {
	position: relative;

	&:after {
		content: ' ';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: $cb transparent transparent transparent;
		pointer-events: none;
	}
}

label {
	display: block;
}

.form {
	@extend %form;
}

.form__icon {
	position: relative;
	color: $c19;

	>svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		fill: currentColor;
	}

	&.form__icon--search {
		>svg {
			left: 20px;
			width: 24px;
			height: 24px;
		}
	}
}

.autocomplete-form {
	>div {
		&:first-child {
			position: relative;
		}
	}

	.autocomplete-form__close {
		width: 24px;
	}
}

.autocomplete-form__close {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	height: 24px;
	padding: 0;
	color: $cb;
	border: none;
	cursor: pointer;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 18px;
		height: 18px;
		fill: currentColor;
		@include trs-all;
	}

	&:hover {
		color: $c15;
	}
}

.autocomplete-form__list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	width: 100%;
	max-height: 70vh;
	padding: 15px;
	background-color: $c1;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: 50% 0;
	box-shadow: 0 2px 10px rgb($cb, 0.1);
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&.show {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}

	div {
		&+div {
			margin-top: 15px;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	a {
		display: block;
		color: $c20;

		&:hover {
			text-decoration: none;

			h4 {
				text-decoration: underline;
			}
		}
	}

	h4 {
		margin-bottom: 4px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.2;
		color: $cb;
	}

	p {
		font-size: fsz(14, 16);
		line-height: 1.2;

		strong {
			font-weight: 700;
		}

		&:last-child {
			margin-bottom: 20px;
		}
	}
}

.search-form {
	display: grid;
	grid-template-columns: 1fr 170px;
	gap: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media (max-width: 1024px) {
	.autocomplete-form__list {
		h4 {
			font-size: fsz(18, 16);
		}
	}
}

@media (max-width: 768px) {
	.autocomplete-form__list {
		h4 {
			font-size: 1rem;
		}
	}
}

@media (max-width: 576px) {
	.form {
		.form__submit {
			line-height: 50px;
		}
	}

	.search-form {
		grid-template-columns: 1fr;
	}

	.autocomplete-form__list {
		h4 {
			font-size: fsz(16, 14);
		}

		p {
			font-size: fsz(12, 14);
		}
	}
}

@media (max-width: 360px) {
	.form__icon {
		&.form__icon--search {
			>svg {
				left: 15px;
				width: 15px;
				height: 15px;
			}
		}
	}
}

.order-form {
	padding: 30px 30px 19px 30px;
	background-color: $c1;
	box-shadow: 0 4px 18px 0 rgba($cb, 0.3);
	border-bottom: 5px solid $c22;

	&+p {
		margin-top: 25px;
		margin-bottom: 0;
		text-align: center;

		a {
			color: $c16;
		}
	}
}

@media (max-width: 576px) {
	.order-form {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 360px) {
	.order-form {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.input-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;

	span {
		display: inline-block;
		padding-left: 35px;
		font-size: 0.857rem;
		letter-spacing: 0.07em;

		&:before {
			margin-top: -1px;
			font-size: 14px;
			color: $c5;
		}
	}

	[type='file'] {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
