.logo-company {
	display: inline-block;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.toggle-wrapper,
.toggle-btn {
	position: relative;
	width: 25px;
	height: 25px;
}

.toggle-wrapper {
	position: relative;

	>div {
		position: fixed;
		left: 0;
		z-index: 998;
		top: 0;
		bottom: 0;
		width: 100%;

		&.visible {}
	}
}


.toggle__content {
	>div {
		position: relative;
		height: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		overflow-y: auto;
	}

}

.toggle-btn {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	overflow: hidden;
	cursor: pointer;

	span {
		position: absolute;
		left: 4px;
		right: 4px;
		height: 3px;
		background-color: $cb;
		@include trs-all;

		&:first-child {
			top: 6.5px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 11.5px;
		}

		&:nth-child(4) {
			top: 16.5px;
		}
	}
}

.toggle-btn-style {
	span {

		&:first-of-type,
		&:nth-of-type(4) {
			background-color: transparent;
		}

		&:first-of-type {
			transform: translateX(40px);
		}

		&:nth-of-type(2) {
			transform: rotate(45deg);
		}

		&:nth-of-type(3) {
			transform: rotate(-45deg);
		}

		&:nth-of-type(4) {
			transform: translateX(-40px);
		}
	}
}
