.list-1,
.list-2,
.list-3,
.list-4,
.list-5,
.list-6,
.list-7,
.list-8 {
	display: grid;
}

.list-1,
.list-3 {
	grid-template-columns: repeat(6, 1fr);
}

.list-2,
.list-5,
.list-6,
.list-7 {
	grid-template-columns: repeat(4, 1fr);
}

.list-2 {
	gap: 70px 20px;
}

.list-3 {
	gap: 20px;
}

.list-4,
.list-5,
.list-8 {
	gap: 40px;
}

.list-4 {
	grid-template-columns: repeat(3, 1fr);
}

.list-7 {
	gap: 20px;
}

.list-8 {
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {

	.list-2,
	.list-5,
	.list-6,
	.list-7 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.list-1 {
		grid-template-columns: repeat(3, 1fr);
	}

	.list-2,
	.list-5,
	.list-6,
	.list-7 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.list-2 {
		gap: 40px 20px;
	}

	.list-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 415px) {
	.list-1 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 360px) {
	.list-2 {
		gap: 40px 15px;
	}

	.list-3 {
		gap: 15px;
	}
}
