.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: rgba($cb, 0.85);
	text-align: center;
	visibility: hidden;
	opacity: 0;
	@include trs-all;

	.lightbox-btn {
		z-index: 1;
	}

	.lightbox-btn--prev {
		left: 40px;
	}

	.lightbox-btn--next {
		right: 40px;
	}
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;

	.scroll-table-content {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.modal__content {
	// position: relative;
	// width: calc(min(800px, 100%));
	// overflow: hidden;
	max-height: calc(100vh - 40px);
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	padding: 45px 3.33% 50px 3.33%;
	background-color: $c1;
	text-align: left;
	opacity: 0;
	transform: scale(0);
	@include trs-all;
	transition-delay: 100ms;

	&.modal__content-style-1 {
		// position: relative;
		padding: 0;
	}
}

.show {
	z-index: 9999;
	opacity: 1;
	visibility: visible;

	.modal__content {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.modal__close {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 1;
	width: 30px;
	height: 30px;
	padding: 0;
	color: $c1;
	border-radius: 50%;
	background-color: rgba($c3, 0.8);
	cursor: pointer;
	@include trs-all;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 14px;
		height: 14px;
		fill: currentColor;
		@include trs;
	}

	&:hover {
		background-color: rgba($c3, 1);
	}
}

@media (max-width: 576px) {
	.modal {
		padding: 20px;
	}

	.modal__content {
		max-height: calc(100vh - 30px);
		padding: 35px 20px 40px 20px;
	}
}

@media (max-width: 360px) {
	.modal {
		padding: 15px;
	}

	.modal__content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
