.top-section-inner {
	position: relative;
	background: url(../img/bg-3.png) no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba($c1, 0.3),
				rgba($c37, 0.8));
	}
}

.top-section-school__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-top: 85px;
	padding-bottom: 100px;

	h1,
	p {
		max-width: 720px;
	}

	h1,
	p,
	a {
		position: relative;
		z-index: 1;
	}

	h1 {
		color: $c1;
	}

	p {
		font-size: fsz(22, 16);
		color: $c10;
	}

	.btn {
		width: calc(min(290px, 100%));
	}
}

@media (max-width: 1024px) {
	.top-section-school__content {
		padding-top: 67px;
		padding-bottom: 80px;

		p {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 768px) {
	.top-section-school__content {
		p {
			font-size: fsz(18, 16);
		}
	}
}

@media (max-width: 576px) {
	.top-section-school__content {
		padding-top: 57px;
		padding-bottom: 60px;

		p {
			font-size: fsz(16, 14);
		}
	}
}

.school__cources-list {
	a {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		font-size: fsz(14, 16);
		color: $cb;

		&:hover {
			text-decoration: none;

			strong {
				color: $c37;
			}
		}
	}

	b {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		padding: 11px 10px 9px 10px;
		font-size: fsz(12, 16);
		font-weight: 600;
		line-height: 1;
		background-color: rgba($c38, 0.9);
		border-radius: 4px;
	}

	ul {
		margin-bottom: 15px;
	}

	li {
		position: relative;
		padding-left: 15px;
		line-height: 1.55;

		&:before {
			content: '';
			position: absolute;
			top: 9px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $cb;
		}
	}

	strong,
	em {
		display: block;
	}

	strong,
	em,
	span {
		font-weight: 700;
	}

	.list-img {
		margin-bottom: 19px;
		padding-top: 107.145%;
	}

	strong {
		margin-bottom: 8px;
		font-size: fsz(20, 16);
		line-height: 1.35;
		@include trs-all;
	}

	em {
		margin-top: auto;
		margin-bottom: 25px;
		font-style: normal;
		line-height: 1;
	}

	span {
		display: inline-block;
		align-self: flex-start;
		width: calc(min(140px, 100%));
		border-radius: 5px;

		&:hover {
			border-color: $c35;
			background-color: $c35;
		}
	}
}

.school__teachers {
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: $c33;

	h2 {
		color: $c1;
	}
}

.school__teachers-list {

	strong,
	span {
		display: block;
		text-align: center;
	}

	.list-img {
		padding-top: 70.375%;
		width: min(190px, 100%);
		margin: 0 auto 18px auto;
		border-radius: 50%;
	}

	strong {
		margin-bottom: 8px;
		font-size: fsz(22, 16);
		font-weight: 600;
		line-height: 1.35;
		color: $c1;
	}

	span {
		font-size: fsz(14, 16);
		line-height: 1;
		color: $c34;
	}
}

@media (max-width: 1024px) {
	.school__teachers {
		padding-top: 73px;
		padding-bottom: 80px;
	}
}

.school__media {
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: $c4;
}

.school__media-list {
	.list-img {
		margin-bottom: 35px;
	}

	strong {
		display: block;
		font-size: fsz(24, 16);
		font-weight: 400;
		line-height: 1.2;
		text-align: center;
	}
}

.school__gallery__list {
	padding: 20px;
	padding-right: 20px;

	.list-img {
		padding-top: 75%;
		cursor: zoom-in;
	}
}

@media (max-width: 1024px) {
	.school__media {
		padding-top: 73px;
		padding-bottom: 80px;
	}
}

@media (max-width: 360px) {
	.school__gallery__list {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.school-contacts {
	h3 {
		margin-bottom: 31px;
	}

	.school-contacts__aside {
		ul {
			margin-bottom: 0;
		}

		li+li {
			margin-top: 11px;
		}

		a {
			font-size: fsz(20, 16);
			line-height: 1;
			color: $c16;

			&[href^="tel"] {
				color: $cb;

				&:hover {
					color: $c16;
				}
			}
		}
	}
}

@media (min-width: 1025px) {
	.school-contacts {
		display: flex;
		align-items: center;
		gap: 40px mp(40, 1200);
	}

	.school-contacts__aside {
		width: mp(460, 1200);
		flex: none;
	}

	.school-contacts__main {
		flex-grow: 1;
	}
}
