.lessdefects__info-1 {
	h2 {
		text-align: center;
	}
}

.lessdefects__info-1-list {
	max-width: 760px;
	margin: 0 auto;
	counter-reset: num;

	li {
		position: relative;

		&:not(:last-child) {
			padding-bottom: 43px;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 2px;
				background-color: $c13;
			}
		}

		&:before {
			content: counter(num);
			counter-increment: num;
			position: absolute;
			top: -4px;
			z-index: 1;
			width: 50px;
			height: 50px;
			font-size: fsz(20, 16);
			font-weight: 600;
			line-height: 46px;
			color: $c1;
			text-align: center;
			background-color: $c13;
			border: 2px solid $c1;
			border-radius: 50%;
		}
	}

	strong {
		display: block;
		margin-bottom: 11px;
		font-size: fsz(22, 16);
		font-weight: 600;
		line-height: 1.35;
	}

	p {
		font-size: fsz(15, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 769px) {
	.lessdefects__info-1-list {
		li {
			&:nth-child(odd) {
				padding-right: 50%;
				text-align: right;

				strong,
				p {
					padding-right: 55px;
				}
			}

			&:nth-child(even) {
				padding-left: 50%;

				strong,
				p {
					padding-left: 55px;
				}
			}

			&:not(:last-child) {
				&:after {
					left: 50%;
				}
			}

			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

@media (max-width: 768px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 70px;

			&:not(:last-child) {
				&:after {
					left: 24px;
				}
			}

			&:before {
				left: 0;
			}
		}

		strong {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 50px;

			&:not(:last-child) {
				padding-bottom: 30px;

				&:after {
					left: 14px;
				}
			}

			&:before {
				width: 30px;
				height: 30px;
				font-size: 1rem;
				line-height: 27px;
			}
		}

		strong {
			margin-bottom: 5px;
			font-size: fsz(18, 14);
		}

		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 415px) {
	.lessdefects__info-1-list {
		strong {
			font-size: fsz(16, 14);
		}
	}
}

@media (max-width: 360px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 45px;
		}
	}
}

.lessdefects__info-2 {
	text-align: center;

	h2 {
		position: relative;
		margin-bottom: 75px;
		padding-top: 55px;
		padding-bottom: 55px;
		font-weight: 400;
		border-top: 1px solid $cb;
		border-bottom: 1px solid $cb;

		span {
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 700;
			line-height: 1;
			letter-spacing: 2px;
			color: $c1;
			padding: 13px 15px 11px 15px;
			background-color: $cb;
		}
	}
}

.lessdefects__info-2-content {
	padding-top: 104px;
	padding-bottom: 114px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(top, rgba($cb, 0.4) 0%, rgba($cb, 0.8) 100%);
		background: -webkit-linear-gradient(top, rgba($cb, 0.4) 0%, rgba($cb, 0.8) 100%);
		background: linear-gradient(to bottom, rgba($cb, 0.4) 0%, rgba($cb, 0.8) 100%);
	}
}

.lessdefects__info-2-list {
	position: relative;
	margin-bottom: 0;
	z-index: 1;
	color: $c1;

	span {
		display: block;
		margin-bottom: 18px;
		padding-bottom: 35px;
		font-size: fsz(72, 16);
		font-weight: 600;
		line-height: 1.17;
		border-bottom: 1px solid rgba($c1, 0.2);
	}

	p {
		font-size: fsz(18, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 577px) {
	.lessdefects__info-2 {
		h2 {
			span {
				min-width: calc(min(200px, 100%));
			}
		}
	}
}

@media (min-width: 769px) {
	.lessdefects__info-2-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px 40px;
	}
}

@media (min-width: 1025px) {
	.lessdefects__info-2-list {
		p {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-2-content {
		padding-top: 63px;
		padding-bottom: 73px;
	}

	.lessdefects__info-2-list {
		span {
			font-size: fsz(60, 16);
		}
	}
}

@media (max-width: 768px) {
	.lessdefects__info-2-list {
		li+li {
			margin-top: 28px;
		}

		span {
			margin-bottom: 15px;
			padding-bottom: 12px;
			font-size: fsz(45, 16);
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-2 {

		h2 {
			margin-bottom: 35px;
			padding-top: 25px;
			padding-bottom: 23px;

			span {
				top: -15px;
				padding-top: 9px;
				padding-bottom: 8px;
				font-size: fsz(12, 14);
			}
		}
	}

	.lessdefects__info-2-content {
		padding-top: 54px;
		padding-bottom: 54px;
	}

	.lessdefects__info-2-list {
		li+li {
			margin-top: 28px;
		}

		span {
			margin-bottom: 7px;
			padding-bottom: 7px;
			font-size: fsz(35, 14);
		}

		p {
			font-size: 1rem;
		}
	}
}

.lessdefects__info-3 {
	background-color: $c21;

	h2 {
		text-align: center;
	}
}

.lessdefects__info-3-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	li {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 66px 30px 70px 30px;
		background-color: $c1;
		border: 1px solid $c48;
		border-radius: 5px;
		box-shadow: 0px 0px 15px 0px rgba($cb, 0.1);
		text-align: center;
	}

	span {
		display: block;
		margin-bottom: 20px;
		font-size: fsz(30, 16);
		font-weight: 600;
		line-height: 1;
	}

	.btn {
		margin-top: auto;
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(3, 1fr);

		span {
			font-size: fsz(25, 16);
		}
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(2, 1fr);

		li {
			padding: 46px 20px 50px 20px;
		}

		span {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(1, 1fr);

		li {
			padding: 46px 20px 50px 20px;
		}

		span {
			font-size: fsz(18, 14);
		}
	}
}

@media (max-width: 415px) {
	.lessdefects__info-3-list {
		li {
			padding-top: 38px;
			padding-bottom: 40px;
		}

		span {
			margin-bottom: 19px;
		}

		p {
			margin-bottom: 21px;
		}
	}
}

@media (max-width: 360px) {
	.lessdefects__info-3-list {
		gap: 15px;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}

		span {
			font-size: fsz(16, 14);
		}
	}
}

.lessdefects__info-4 {
	h2 {
		text-align: center;
	}
}

.lessdefects__info-4-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 76px 40px;
	margin-bottom: 0;
	padding-top: 36px;
	counter-reset: num;

	strong {
		font-weight: 600;
	}

	li {
		position: relative;
		padding: 74px 30px 177px 30px;
		font-size: fsz(15, 16);
		border: 1px solid $c40;
		text-align: center;

		>strong {
			display: block;
			margin-bottom: 10px;
			font-size: fsz(20, 16);
			line-height: 1.35;
		}

		&:before {
			content: counter(num);
			counter-increment: num;
			position: absolute;
			top: -36px;
			left: 50%;
			z-index: 1;
			transform: translateX(-50%);
			width: 72px;
			height: 72px;
			font-size: fsz(20, 16);
			font-weight: 600;
			line-height: 72px;
			color: $c13;
			text-align: center;
			background-color: $c1;
			border: 1px solid $c13;
			border-radius: 50%;
		}
	}

	p {
		margin-bottom: 24px;
		text-align: left;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	svg {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translateX(-50%);
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-4-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.lessdefects__info-4-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 60px 40px;

		li {
			padding: 55px 20px 133px 20px;
			font-size: 1rem;

			>strong {
				font-size: fsz(18, 14);
			}

			&:before {
				width: 40px;
				height: 40px;
				top: -20px;
				line-height: 41px;
			}
		}

		svg {
			width: 60px;
			height: 60px;
		}
	}
}

@media (max-width: 360px) {
	.lessdefects__info-4-list {
		li {
			padding-left: 15px;
			padding-right: 15px;

			>strong {
				font-size: fsz(16, 14);
			}
		}
	}
}

.lessdefects__info-6 {
	h2 {
		position: relative;
		margin-bottom: 0;
		padding-top: 46px;
		padding-bottom: 46px;
		text-align: center;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 140px;
			height: 1px;
			background-color: $cb;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-6 {
		h2 {
			padding-top: 34px;
			padding-bottom: 32px;
		}
	}
}
