.solutions {
	h1 {
		padding: 67px 15px;
		text-align: center;
		background-color: $c21;

		&+.container-sm p {
			font-size: fsz(18, 16);
			font-family: $f1;
			text-align: center;
		}
	}
}

.solutions__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	a,
	strong {
		display: block;
	}

	a {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 55px 40px 52px 40px;

		&:hover {
			text-decoration: none;
		}
	}

	span,
	em {
		display: inline-block;
	}

	span {
		margin-bottom: 20px;

		svg {
			width: 40px;
			height: 40px;
			fill: currentColor;
		}
	}

	strong {
		font-weight: 600;
		line-height: 1.3;

		&+em {
			margin-top: 37px;
		}
	}

	em {
		height: 45px;
		padding-left: 30px;
		padding-right: 30px;
		font-style: normal;
		border: 2px solid $c30;
		font-size: fsz(14, 16);
		font-weight: 700;
		line-height: 43px;
		color: $c29;
		border-radius: 30px;
		align-self: flex-start;
	}

	&+h2 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.solutions__list-style-1 {
	a {
		color: $cb;
		background: linear-gradient(to bottom, rgba($c25, 1) 0%, rgba($c26, 1));

		&:hover {
			background: linear-gradient(to bottom, rgba($c26, 1) 0%, rgba($cb, 0.5));
		}
	}

	strong {
		font-size: fsz(30, 16);
	}

	em {
		color: $c29;
		border-color: $c30;
	}
}

.solutions__list-style-2 {
	a {
		color: $c27;

		&:hover {
			background-color: $c28;
		}
	}

	strong {
		margin-bottom: auto;
		font-size: fsz(36, 16);
	}
}

.solutions__process {
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: $c32;

	ul {
		margin-bottom: 70px;
	}

	li {
		position: relative;
		padding-left: 30px;
		font: fsz(24, 16)/1.45 $f1;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 15px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $cb;
			;
		}
	}
}

@media (max-width: 1024px) {
	.solutions__process {
		padding-top: 73px;
		padding-bottom: 80px;
	}
}
