.lessdefects__info-1 {
	h2 {
		text-align: center;
	}
}

.lessdefects__info-1-list {
	max-width: 760px;
	margin: 0 auto;
	counter-reset: num;

	li {
		position: relative;

		&:not(:last-child) {
			padding-bottom: 43px;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 2px;
				background-color: $c13;
			}
		}

		&:before {
			content: counter(num);
			counter-increment: num;
			position: absolute;
			top: -4px;
			z-index: 1;
			width: 50px;
			height: 50px;
			font-size: fsz(20, 16);
			font-weight: 600;
			line-height: 46px;
			color: $c1;
			text-align: center;
			background-color: $c13;
			border: 2px solid $c1;
			border-radius: 50%;
		}
	}

	strong {
		display: block;
		margin-bottom: 11px;
		font-size: fsz(22, 16);
		font-weight: 600;
		line-height: 1.35;
	}

	p {
		font-size: fsz(15, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 769px) {
	.lessdefects__info-1-list {
		li {
			&:nth-child(odd) {
				padding-right: 50%;
				text-align: right;

				strong,
				p {
					padding-right: 55px;
				}
			}

			&:nth-child(even) {
				padding-left: 50%;

				strong,
				p {
					padding-left: 55px;
				}
			}

			&:not(:last-child) {
				&:after {
					left: 50%;
				}
			}

			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

@media (max-width: 768px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 70px;

			&:not(:last-child) {
				&:after {
					left: 24px;
				}
			}

			&:before {
				left: 0;
			}
		}

		strong {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 50px;

			&:not(:last-child) {
				padding-bottom: 30px;

				&:after {
					left: 14px;
				}
			}

			&:before {
				width: 30px;
				height: 30px;
				font-size: 1rem;
				line-height: 27px;
			}
		}

		strong {
			margin-bottom: 5px;
			font-size: fsz(18, 14);
		}

		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 415px) {
	.lessdefects__info-1-list {
		strong {
			font-size: fsz(16, 14);
		}
	}
}

@media (max-width: 360px) {
	.lessdefects__info-1-list {
		li {
			padding-left: 45px;
		}
	}
}

.lessdefects__info-3 {
	background-color: $c21;

	h2 {
		text-align: center;
	}
}

.lessdefects__info-3-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	li {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 66px 30px 70px 30px;
		background-color: $c1;
		border: 1px solid $c48;
		border-radius: 5px;
		box-shadow: 0px 0px 15px 0px rgba($cb, 0.1);
		text-align: center;
	}

	span {
		display: block;
		margin-bottom: 20px;
		font-size: fsz(30, 16);
		font-weight: 600;
		line-height: 1;
	}

	.btn {
		margin-top: auto;
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(3, 1fr);

		span {
			font-size: fsz(25, 16);
		}
	}
}

@media (max-width: 1024px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(2, 1fr);

		li {
			padding: 46px 20px 50px 20px;
		}

		span {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 576px) {
	.lessdefects__info-3-list {
		grid-template-columns: repeat(1, 1fr);

		li {
			padding: 46px 20px 50px 20px;
		}

		span {
			font-size: fsz(18, 14);
		}
	}
}

@media (max-width: 415px) {
	.lessdefects__info-3-list {
		li {
			padding-top: 38px;
			padding-bottom: 40px;
		}

		span {
			margin-bottom: 19px;
		}

		p {
			margin-bottom: 21px;
		}
	}
}

@media (max-width: 360px) {
	.lessdefects__info-3-list {
		gap: 15px;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}

		span {
			font-size: fsz(16, 14);
		}
	}
}
