.top-section-school-module {
	position: relative;
	overflow: hidden;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(100vh - 80px);
		padding-top: 58px;
		padding-bottom: 45px;
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($c42, 0.8);
	}
}

.top-section-school-module__content {
	position: relative;
	z-index: 1;
	color: $c1;

	em,
	strong {
		display: block;
		font-weight: 600;
		line-height: 1.2;
	}

	em {
		margin-bottom: 12px;
		font-family: $f1;
		font-style: normal;
		text-transform: uppercase;
	}

	h1 {
		margin-bottom: 8px;
		letter-spacing: 1px;

		&+strong {
			margin-bottom: 112px;
			font-size: fsz(42, 16);
			line-height: 1.2;
		}
	}

	p {
		max-width: 640px;
		font-size: fsz(22, 16);
		color: $c10;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		margin-bottom: 15px;

		&:not(:last-child) {
			margin-right: 11px;
		}
	}
}

@media (max-width: 1200px) {
	.top-section-school-module {
		.container {
			min-height: calc(100vh - 69px);
		}
	}
}

@media (max-width: 1024px) {
	.top-section-school-module__content {
		h1 {
			&+strong {
				margin-bottom: 57px;
				font-size: fsz(35, 16);
			}
		}
	}
}

@media (max-width: 768px) {
	.top-section-school-module__content {
		h1 {
			&+strong {
				margin-bottom: 34px;
				font-size: fsz(30, 16);
			}
		}
	}
}

@media (max-width: 576px) {
	.top-section-school-module {
		.container {
			padding-top: 40px;
			padding-bottom: 25px;
			min-height: 50vh;
		}
	}

	.top-section-school-module__content {
		h1 {
			&+strong {
				font-size: fsz(25, 14);
			}
		}

		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 415px) {
	.top-section-school-module__content {
		h1 {
			&+strong {
				font-size: fsz(20, 14);
			}
		}
	}
}

.school__info-3 {
	padding-top: 118px;
	padding-bottom: 112px;
	background-color: $c4;
	text-align: center;

	h2 {
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	strong {
		display: block;
		margin-bottom: 46px;
		font-weight: 600;
		letter-spacing: 2.5px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	p {
		font-size: fsz(24, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1024px) {
	.school__info-3 {
		padding-top: 78px;
		padding-bottom: 73px;

		p {
			font-size: fsz(22, 16);
		}
	}
}

@media (max-width: 768px) {
	.school__info-3 {
		p {
			font-size: fsz(20, 16);
		}
	}
}

@media (max-width: 576px) {
	.school__info-3 {
		padding-top: 58px;
		padding-bottom: 55px;

		h2 {
			margin-bottom: 17px;
		}

		strong {
			margin-bottom: 20px;
		}

		p {
			font-size: fsz(16, 14);
		}
	}
}

.school__info-5-list {
	margin-bottom: 75px;

	h3 {
		margin-bottom: 18px;
		padding-bottom: 24px;
		font-weight: 700;
		line-height: 1;
		border-bottom: 3px solid $cb;
	}

	ul {
		margin-bottom: 0;
	}

	li {
		position: relative;
		padding-left: 17px;
		font-size: fsz(18, 16);
		line-height: 1.55;

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $cb;
		}
	}
}

@media (min-width: 769px) {
	.school__info-5-list {
		display: flex;
		gap: 55px 60px;
		margin-bottom: 75px;

		section {
			width: 50%;
			flex-grow: 1;
		}

		h3 {
			font-size: fsz(32, 16);
		}
	}
}

@media (max-width: 768px) {
	.school__info-5-list {
		margin-bottom: 36px;

		section {
			&+section {
				margin-top: 49px;
			}
		}

		li {
			font-size: 1rem;

			&:before {
				top: 9px;
			}
		}
	}
}

@media (max-width: 576px) {
	.school__info-5-list {
		h3 {
			padding-bottom: 20px;
			margin-bottom: 18px;
		}
	}
}

.school__info-6-list {
	margin-bottom: 0;

	li {
		position: relative;
		padding-left: 90px;

		&+li {
			margin-top: 70px;
		}
	}

	strong {
		display: block;
		font-size: fsz(20, 16);
		font-weight: 600;
		line-height: 1.35;
	}

	svg {
		position: absolute;
		left: 0;
		top: -14px;
		width: 55px;
		height: 55px;
		fill: $c43;
	}
}

@media (max-width: 768px) {
	.school__info-6-list {
		strong {
			font-size: fsz(18, 16);
		}
	}
}

@media (max-width: 576px) {
	.school__info-6-list {
		li {
			padding-left: 50px;

			&+li {
				margin-top: 31px;
			}
		}

		strong {
			font-size: fsz(16, 14);
		}

		svg {
			top: -6px;
			width: 30px;
			height: 30px;
		}
	}
}

@media (max-width: 360px) {
	.school__info-6-list {
		li {
			padding-left: 45px;
		}
	}
}

.school__media+.school__info-7 {
	padding-top: 0;
}

.school__info-7 {
	position: relative;
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: $c4;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: calc(min(760px, 100%));
		height: 1px;
		opacity: 0.2;
		background: -moz-linear-gradient(left, rgba($cb, 0) 0%, rgba($cb, 1) 35%, rgba($cb, 1) 65%, rgba($cb, 0) 100%);
		background: -webkit-linear-gradient(left, rgba($cb, 0) 0%, rgba($cb, 1) 35%, rgba($cb, 1) 65%, rgba($cb, 0) 100%);
		background: linear-gradient(to right, rgba($cb, 0) 0%, rgba($cb, 1) 35%, rgba($cb, 1) 65%, rgba($cb, 0) 100%);
	}
}

.school__info-7-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 37px mp(40, 1200);
	margin-bottom: 0;
	text-align: center;

	strong {
		display: block;
		margin-bottom: 18px;
		font-size: fsz(20, 16);
		font-weight: 600;
		line-height: 1.35;
		text-transform: uppercase;
	}

	p {
		font-size: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	svg {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin-bottom: 26px;
		fill: currentColor;
	}
}

@media (max-width: 1024px) {
	.school__info-7 {
		padding-top: 73px;
		padding-bottom: 80px;
	}

	.school__info-7-list {
		strong {
			font-size: fsz(18, 16);
		}
	}
}

@media (max-width: 768px) {
	.school__info-7-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 37px mp(40, 708);

		svg {
			margin-bottom: 16px;
		}

		li {
			&:last-child {
				svg {
					margin-bottom: 5px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.school__info-7 {
		padding-top: 53px;
		padding-bottom: 60px;
	}

	.school__info-7-list {
		strong {
			font-size: fsz(16, 14);
		}
	}
}

@media (max-width: 415px) {
	.school__info-7-list {
		grid-template-columns: repeat(1, 1fr);

		svg {
			margin-bottom: 12px;
		}

		strong {
			margin-bottom: 16px;
		}

		li {
			&:nth-child(2) {
				svg {
					margin-bottom: 2px;
				}
			}

			&:last-child {
				svg {
					margin-bottom: 0;
				}
			}
		}
	}
}

.school__info-8 {
	position: relative;
	padding-top: 110px;
	padding-bottom: 120px;
	background-color: $c4;

	h2 {
		text-align: center;
	}
}

.school__info-8-list {
	margin-bottom: 0;
	font-size: fsz(22, 16);

	>li {
		padding: 52px 30px 55px 30px;
		background-color: $c4;
		border-radius: 5px;
		border: 1px solid $c46;
		box-shadow: 0px 0px 0px 0px rgba($cb, 0.1);
	}

	p,
	ol {
		font-family: $f1;
	}

	em {
		display: table;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		font-size: fsz(42, 16);
		font-weight: 600;
		font-style: normal;
		line-height: 1;

		&+em {
			margin-top: 10px;
		}

		&:first-of-type {
			text-decoration: line-through;
		}

		&:last-of-type {
			margin-bottom: 28px;
		}

		&+p {
			margin-bottom: 63px;
		}
	}

	p {
		margin-bottom: 45px;
	}

	strong {
		font-weight: 700;
	}

	ol {
		margin-bottom: 0;
		counter-reset: num;

		li {
			position: relative;
			padding-left: 35px;
			line-height: 1.55;

			&+li {
				margin-top: 20px;
			}

			&:before {
				content: counter(num)'.';
				counter-increment: num;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&+.btn {
			margin-top: 40px;
		}
	}
}

@media (max-width: 1024px) {
	.school__info-8 {
		padding-top: 73px;
		padding-bottom: 80px;
	}

	.school__info-8-list {
		font-size: fsz(20, 16);

		em {
			font-size: fsz(35, 16);
		}
	}
}

@media (max-width: 768px) {
	.school__info-8-list {
		font-size: fsz(18, 16);

		em {
			font-size: fsz(30, 16);
		}
	}
}

@media (max-width: 576px) {
	.school__info-8 {
		padding-top: 53px;
		padding-bottom: 60px;
	}

	.school__info-8-list {
		font-size: fsz(16, 14);

		>li {
			padding: 57px 20px 60px 20px;
		}

		p {
			margin-bottom: 30px;

			&+ol {
				margin-top: -9px;
			}
		}

		em {
			font-size: fsz(25, 14);

			&+p {
				margin-bottom: 23px;
			}
		}

		em+p+p,
		ol {
			font-size: 1rem;
		}

		ol {
			li {
				padding-left: 25px;
			}
		}
	}
}

@media (max-width: 360px) {
	.school__info-8-list {
		em {
			font-size: fsz(20, 14);
		}

		>li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
