.top-section-products {
	background: url(../img/bg-2.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0% 100%);

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 50px);
		background-color: rgba($cb, 0.7);
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0% 100%);
	}
}

.top-section-products__content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 80px);
	color: $c1;
	text-align: center;

	h1 {
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 52px;
		font-weight: 700;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 160px;
			height: 1px;
			transform: translateX(-50%);
			background-color: $c1;
		}
	}

	p {
		max-width: 750px;
		font-size: fsz(28, 16);
		align-self: center;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1200px) {
	.top-section-products {
		margin-top: -40px;
	}

	.top-section-products__content {
		min-height: calc(100vh - 69px);
	}
}

@media (max-width: 1024px) {
	.top-section-products__content {
		p {
			font-size: fsz(24, 16);
		}
	}
}

@media (max-width: 768px) {
	.top-section-products {
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);

		&:after {
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);
		}
	}

	.top-section-products__content {
		padding-top: 50px;
		padding-bottom: 50px;

		h1 {
			margin-bottom: 27px;
			padding-bottom: 24px;
		}

		p {
			font-size: fsz(22, 16);
		}
	}
}

@media (max-width: 576px) {
	.top-section-products__content {
		p {
			font-size: fsz(20, 14);
		}
	}
}

@media (max-width: 415px) {
	.top-section-products__content {
		p {
			font-size: fsz(18, 14);
		}
	}
}

@media (max-width: 360px) {
	.top-section-products__content {
		min-height: calc(100vh - 59px);

		p {
			font-size: fsz(16, 14);
		}
	}
}

.products__why {
	p {
		font-size: fsz(20, 16);
		font-family: $f1;

		&:last-child {
			margin-bottom: 0;
		}
	}

	strong {
		font-weight: 700;
	}
}

@media (max-width: 768px) {
	.products__why {
		p {
			font-size: fsz(18, 16);
		}
	}
}

@media (max-width: 576px) {
	.products__why {
		p {
			font-size: 1rem;
		}
	}
}

.products__catalog {
	display: flex;

	>div {
		flex-grow: 1;
		width: 50%;
	}

	a,
	strong,
	span {
		position: relative;
		display: block;
	}

	a {
		display: block;
		padding-top: 60%;
		color: $c1;

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&:first-child {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 15px;
				z-index: 1;
			}
		}

		&:hover {
			text-decoration: none;

			.list-img {
				&:after {
					background-color: rgba($cb, 0.6);
				}
			}
		}
	}

	strong {
		margin-bottom: 40px;
		font-size: fsz(36, 16);
		font-weight: 600;
		line-height: 1.25;
		text-align: center;
	}

	.list-img {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($cb, 0.7);
			@include trs-all;
		}
	}
}

@media (max-width: 1024px) {
	.products__catalog {
		strong {
			margin-bottom: 25px;
			font-size: fsz(30, 16);
		}
	}
}

@media (max-width: 768px) {
	.products__catalog {
		strong {
			font-size: fsz(25, 16);
		}
	}
}

@media (max-width: 576px) {
	.products__catalog {
		flex-direction: column;

		>div {
			width: 100%;
		}

		strong {
			font-size: fsz(20, 14);
		}
	}
}

.products__categories-list {
	font-family: $f1;
	text-align: center;

	section {
		display: flex;
		align-items: center;

		&+section {
			margin-top: 115px;
		}

		div {
			flex-grow: 1;
			width: 50%;
		}

		&:nth-child(odd) {
			div {
				&:first-child {
					order: 1;
				}
			}
		}
	}

	.list-img {
		display: inline-block;
		width: calc(min(300px, 100%));
		padding-top: 400px;
		text-align: center;
	}


	h3 {
		margin-bottom: 25px;
		font-size: fsz(30, 16);
	}

	p {
		font-size: fsz(22, 16);

		&:last-child {
			margin-bottom: 0;
		}
	}
}
