//== COLORS
$cb: #000000 !default;
$c1: #ffffff;
$c2: #171717;
$c3: #ab1515;
$c4: #F5F5F5;
$c5: #525252;


$c6: #c7483a;
$c7: #eeeeee;
$c8: #ff0000;
$c9: #1d9bf0;
$c10: #28A4E2;
$c11: #0a66c2;
$c12: #ec1b87;
$c13: #4867aa;
$c14: #e6e6e6;
$c15: #e0e0e0;
$c16: #DADADA;
$c17: #D9D9D9;
$c18: #0B0809;
$c19: #CB4A3C;
$c20: #A1362A;
$c21: #36BD49;
$c22: #7D7D81;
$c23: #3D99CC;

$c24: #c5cbd9;
$c25: #d9e2ed;
$c26: #202a38;
$c27: #e9e8e8;
$c28: #304cb7;
$c29: #f6f6f6;
$c30: #f1f1f1;
$c31: #121212;
$c32: #344fbd;
$c33: #064874;
$c34: #d95161;
$c35: #d43a4c;
$c36: #01bce2;
$c37: #01a9cb;
$c38: #1c94d9;
$c39: #eaeaea;
$c40: #15499f;
$c41: #f4f4f4;
$c42: #fef744;
$c43: #69a042;
$c44: #2b74b9;
$c45: #fcfcfc;
$c46: #73179d;
$c47: #611485;
$c48: #d7d7d7;
$c49: #e2e2e2;
$c52: #3f4b5c;
$c53: #575c3f;
$c54: #405c3f;
$c55: #3f405c;
$c56: #ff424d;
$c57: #242424;

//== TYPOGRAPHY
$fb: UniSans, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 16px !default;
