//== COLORS
$cb: #000000 !default;
$c1: #ffffff;
$c2: #171717;
$c3: #ab1515;
$c4: #F5F5F5;
$c5: #525252;
$c6: #1B74E4;
$c7: #F3119C;
$c8: #bebebe;
$c9: #f7f7f7;
$c10: #afafaf;
$c11: #EEEEEE;
$c12: #c7c7c7;
$c13: #222222;
$c14: #cc0404;
$c15: #FF0000;
$c16: #ff8562;
$c17: #DDDDDD;
$c18: #A3A3A3;
$c19: #4f4343;
$c20: #323232;
$c21: #F0F0F0;
$c22: #EF3000;
$c23: #F46E4C;
$c24: #F25830;
$c25: #D6CFCF;
$c26: #A39E9E;
$c27: #4d4d4d;
$c28: #CCCCCC;
$c29: #707070;
$c30: #df594a;
$c31: #B40404;
$c32: #efefef;
$c33: #0f0f0f;
$c34: #a11414;
$c35: #ffe100;
$c36: #FFCC00;
$c37: #A81C1C;
$c38: #ffeb19;

$c39: #eaeaea;
$c40: #15499f;
$c41: #f4f4f4;
$c42: #fef744;
$c43: #69a042;
$c44: #2b74b9;
$c45: #fcfcfc;
$c46: #73179d;
$c47: #611485;
$c48: #d7d7d7;
$c49: #e2e2e2;
$c52: #3f4b5c;
$c53: #575c3f;
$c54: #405c3f;
$c55: #3f405c;
$c56: #ff424d;
$c57: #242424;

//== TYPOGRAPHY
$fb: UniSans, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f2: 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 16px !default;
